name: Build

on:
  push:
    branches: 
    - main
  pull_request:
    branches: 
    - main

jobs:
  build-x86_64:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - run: make -j -k
      working-directory: src
    - run: src/callander --show-permitted echo hi
    - run: tar cfz callander-x86_64-$GITHUB_SHA.tgz callander callander.debug
      working-directory: src
    - uses: actions/upload-artifact@v3
      with:
        name: callander-x86_64
        path: src/callander-x86_64-*.tgz

  build-aarch64:
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt-get update
    - run: sudo apt-get install gcc-aarch64-linux-gnu
    - uses: actions/checkout@v3
    - run: git submodule update --init
    - run: make -j -k TARGETMACHINE=aarch64
      working-directory: src
    - run: tar cfz callander-aarch64-$GITHUB_SHA.tgz callander callander.debug
      working-directory: src
    - uses: actions/upload-artifact@v3
      with:
        name: callander-aarch64
        path: src/callander-aarch64-*.tgz

  build-windows:
    runs-on: ubuntu-latest
    steps:
    - run: sudo apt-get update
    - run: sudo apt-get install mingw-w64
    - uses: actions/checkout@v3
    - run: git submodule update --init
    - run: make -j -k target TARGETOS=windows TARGETMACHINE=x86_64
      working-directory: src
